In [1]:
# Introductry notes on basic python principles and commands
# identify python version that is in use
import sys   # import sys module
print(sys.version) # call and print sys parameter version

3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]

In [2]:
# Print hello world and comment line
print("hello wolrd") #prints string hello world

hello wolrd

In [4]:
# some common data types for objects in python
# integer
type(11)   # identifies the type for 11

int

In [5]:
# float
type(11.1)  # identifies type for 11.1

float

In [6]:
# string
type("hello world")

str

In [7]:
# casting
float(2)   # converts 2 into a float

2.0

In [8]:
# verify that 2.0 is now infact a float
type(float(2))    #first convert 2 into a float then print type

float

In [9]:
# Identify bool data type
type(True)

bool

In [10]:
# convert 1 & 0 into bool values
bool(1)

True

In [11]:
bool(0)

False

In [12]:
# Variables

# store expression result in variable named result x

result_x = (300/60) * 7

In [13]:
# print result stored in x

print(result_x)

35.0

In [16]:
# using a variable that calls on another variable

hours_per_week = 7*24

minutes_per_week = hours_per_week * 60

In [17]:
minutes_per_week

10080

In [ ]:
# End