In [1]:
# strings in python

# set string kevin to vaiable name
name = "kevin"

In [2]:
print(name)

kevin

In [3]:
# slicing

# use slicing to find the first 3 elements of string name
name[0:3]

'kev'

In [4]:
# striding

# use a stride value of 3 on the string name
name[::3]

'ki'

In [5]:
# use stride value 2 on subset [1:4]
name[1:4:2]

'ei'

In [6]:
# methods

# upper method
name = "kevin nunez"

In [7]:
upperName = name.upper()

In [8]:
upperName

'KEVIN NUNEZ'

In [9]:
# lower
lowerName =upperName.lower()

In [10]:
lowerName

'kevin nunez'

In [11]:
#replace

newName = lowerName.replace("kevin","elias")

In [12]:
newName

'elias nunez'

In [13]:
# find
newName.find("nun")

6

In [14]:
# concatination -> adding strings together
newerName = newName + " son"

In [15]:
newName

'elias nunez'

In [16]:
newerName

'elias nunez son'

In [17]:
# find length of string
len(newerName)

15

In [20]:
# Escape methods - \\ for forward slash, \n - new line, \t - tab
print("hello, \t my name is kevin nunez.\n I am \\26\\ years old")

hello, 	 my name is kevin nunez.
 I am \26\ years old

'Hello, my name is \t kevin nunez.\n I am 52\\2 years old'